html,
body {
  height: 100%;
  /* will center all children elements of body - not just text */
  text-align: center;
   /*background-color: green; */
}

body {
  margin: 0 auto;
}

/* nav bar */

nav {
  background-color: lightblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0;
  margin: 0;
  top: 0;
}

nav a {
  height: 100%;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: white;
}

/*----- Main Body Section -----*/
#main {
  /*margin-top: 20px;*/
  position: relative;
  top: 70px;
}

/*About Me Image and Text*/

#about img {
  display: inline-block;
  height: auto;
  border-radius: 20%;
  margin-right: 20px;
  float: left;
}

#about p {
  position: relative;
  text-align: left;
  margin-left: 20px;
}

#about h3 {
  text-align: left;
}

#about {
  overflow: auto;
  width: 60%;
  margin: 20px auto;
  margin-top: 90px;
}

#about h2 {
  margin-bottom: 20px;
}

.portfolio_item {
  margin: 0 auto;
}

#portfolio_container .portfolio_item {
  margin-top: 40px;
}

.portfolio_item * {
  width: 500px;
  text-align: left;
  margin: 10px auto 0;
}

.portfolio_item h2 {
  text-align: center;
}

.portfolio_item strong {
  width: 500px;
  text-align: left;
  display: block;
}

.portfolio_item img {
  border-radius: 5%;
  width: 700px;
  height: 400px;
  /*margin: 0 30px 0 30px;*/
  margin: 10px;
}

img.tiny_logo {
  width: initial;
  height: initial;
}

img.tiny_logo.github_logo {
  position: relative;
  top: -5px;
}

/*section semantic tag modifies default h1 tag; therefore manually specifiying font size*/
#portfolio_container {
}

#portfolio_container h1 {
  font-size: 30px;
}

/*Contact Me Form*/
#contact_me {
  margin-top: 30px;
}
#contact_me h1 {
  font-size: 30px;
}

#contact_me p {
  font-size: 25px;
  margin-bottom: 30px;
}

#contact_me img {
  width: 30px;
  height: 30px;
}

/*#contact_form {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 90px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
}

#contact_form textarea {
  length: 500px;
  width: 500px;
  font-size: 18px;
}

#contact_form input {
  width: 20%;
  height: 2em;
}*/

/*footer*/
footer {
  position: relative;
  text-align: center;
  bottom: 0px;
  width: 600px;
  margin: 40px auto;
  margin-top: 90px;
}

/* media queries */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  body {
    font-size: 14px;
  }

  nav {
    font-size: 30px;
  }

  nav a {
    margin: 0 40px;
  }

  .portfolio_item * {
    width: 80%;
  }

  .portfolio_item strong {
    display: inline;
  }

  #about {
    width: 80%;
  }

  #about img {
    width: 200px;
    height: 200px;
  }
}
