html,
body {
  height: 100%;
  /* will center all children elements of body - not just text */
  text-align: center;
  background-color: green;
}

body {
  margin: 0 auto;
}

* {
  margin: 5px;
}

/*header & nav*/
header {
  width: 97%;
  height: 50px;
  background-color: white;
  /*border: 1px solid black;*/
}

header nav {
  display: flex;
  justify-content: flex-end;
}

/*----- Main Body Section -----*/
#main {
  /*margin-top: 20px;*/
}

/*About Me Image and Text*/

#about img {
  display: inline-block;
  height: auto;
  border-radius: 20%;
  margin-right: 20px;
  float: left;
}

#about p {
  position: relative;
  text-align: left;
  margin-left: 20px;
}

section#about {
  overflow: auto;
  /*to dynamically resize profile image with zoom*/

  /*clear: both;*/
  width: 60%;
  /*height: 500px;*/
  margin: 20px auto;
}

#about h2 {
  margin-bottom: 20px;
}

/*portfolio projects*/
section#portfolio_container {
}

.portfolio_item {
  margin: 0 auto;
}

.portfolio_item img {
  border-radius: 5%;
  width: 400px;
  height: 300px;
}

#portfolio_container .portfolio_item {
  margin-top: 40px;
}

.portfolio_item {
  /*text-align: left;*/
}

.portfolio_item p, ul {
  width: 500px;
  text-align: left;
  margin: 10px auto 0;
}

img.tiny_logo {
  width: initial;
  height: initial;
}

img.tiny_logo.github_logo {
  position: relative;
  top: -5px;
}

/*section semantic tag modifies default h1 tag; therefore manually specifiying font size*/
#portfolio_container {
}

#portfolio_container h1 {
  font-size: 30px;
}

/*Contact Me Form*/
#contact_me {
  margin-top: 30px;
}
#contact_me h1 {
  font-size: 30px;
}

#contact_me p {
  font-size: 25px;
  margin-bottom: 30px;
}

#contact_me img {
  width: 30px;
  height: 30px;
}





/*#contact_form {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 90px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
}

#contact_form textarea {
  length: 500px;
  width: 500px;
  font-size: 18px;
}

#contact_form input {
  width: 20%;
  height: 2em;
}*/

/*footer*/
footer {
  position: relative;
  text-align: center;
  bottom: 0px;
  width: 600px;
  margin: 40px auto;
}
