html,
body {
  background-color: lightblue;
  height: 100%;
/*   left: 50%; */
  text-align: center;
}

* {
  margin: 5px;
}

div {
  padding: .4em;
}

textarea {
  length: 500px;
  width: 500px;
  font-size: 18px;
  /*display: block;*/
}

form {
/*   position: absolute; */
  text-align: center;
  left: 0;
  right: 0;
  bottom: 90px;
  width: 600px;
  
  margin: 0 auto;
  border: 2px solid black;
/*   display: inline-block; */
  padding: 2px;
}


footer {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 600px;
  
  margin: 0 auto;
}

#about {
  margin: 20px;

}
d
nav {
  display: flex;
/*   why vertical center doesn't work?' */
/*   align-items: center; */
  justify-content: flex-end;
}

header {
  width: 97%;
  height: 50px;
  background-color: white;
  border: 5px solid black;  
}

#page_head {
  margin-top: 20px;
  text-align: center;
}

