/* media queries */
/*@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */

body {
  font-size: 14px;
  /*background-color: lightblue;*/
}

nav {
  font-size: 30px;
}

nav a {
  margin: 0 20px;
}

nav a:hover {
  width: 105px;
  background-color: white;
}

section.portfolio_item p, h2, h3, ul {
  width: 80vw;
}

.portfolio_item strong {
  display: inline;
}

.portfolio_item .flex-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio_item .flex-parent div {
  background-color: lightblue;
}

#about {
}

#about img {
  width: 200px;
  height: 200px;
}
